.idea/
CMakeFiles/
bin/
CMakeCache.txt
/src/Makefile
/Makefile
cmake_install.cmake

*.cmd
*.d
*.order
*.mod
*.symvers
*.mod.c
*.out

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
